/* Photo-float ##############*/
.photo-ship3 {
  background: url(../assets/ship-contact.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  position: relative;
}

.float-contact {
  width: 200px;
  height: 150px;
  background-color: rgba(49, 110, 150, 0.75);
  text-align: center;
  padding-top: 55px;
  position: absolute;

  top: 50%;
  left: 18%;
}

.float-contact h1 {
  color: #fff;
  text-transform: uppercase;
}

/* Main ##############*/
.main-form-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 840px;
  margin: 100px auto;
}

/* Form ##############*/
.form-contact,
.info-adress {
  width: 350px;
  height: 600px;
  padding-left: 6px;
}

.form-contact div {
  display: flex;
  flex-direction: column;
}

.form-contact div label {
  margin: 2px 0px;
  text-transform: uppercase;
  font-weight: 600;
  color: #464646;
}

.form-contact div input,
.form-contact div select {
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #464646;
}

.form-contact div .tel {
  flex-direction: row;
}

.form-contact div #tel1 {
  width: 50px;
}

.form-contact div .tel span {
  margin: 0px 10px;
}

.form-contact div #tel2 {
  width: 130px;
}

.form-contact textarea {
  resize: none;
}

.form-contact button {
  width: 205px;
  padding: 7px;
  margin-top: 20px;

  background: none;
  border: 1.5px solid var(--dark-blue);
  color: var(--dark-blue);
  font-weight: 800;
  cursor: pointer;
}

.form-contact button:hover {
  background-color: var(--dark-blue);
  color: #fff;
  transition: 0.6s;
}

/* Map ##############*/
.main-form-contact .info-adress {
  padding-top: 20px;
}

.main-form-contact .info-adress div {
  padding: 20px 30px 0px 0px;
}

.main-form-contact .info-adress h2 {
  text-align: left;
  font-size: 18px;
}

.main-form-contact .info-adress p {
  padding: 2px 0px 20px 0px;
  font-size: 15px;
  color: #464646;
}

.main-form-contact .info-adress #map-contact {
  width: 330px;
  height: 200px;
  border: 1px solid #ccc;
}

/* Responsive ##############*/
@media (max-width: 715px) {
  .main-form-contact {
    flex-direction: column;
    align-items: center;
  }
}

