:root {
  --dark-blue: #265778;
  --blue: #0477c4;
  --light-blue: #50b5f9;
}

/* Global #################*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Header #################*/
.headerContainer {
  height: 130px;
  max-width: 960px;
  width: 100%;

  margin: 0 auto;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-top {
  width: 36px;
  height: 24px;

  cursor: pointer;
  outline: none;
  border: none;

  background-color: #fff;
}

.nav1,
.nav2,
.nav3 {
  width: 100%;
  height: 3px;
  background-color: #424140;
  margin: 6px 0px;
  border-radius: 3px;
}

#select {
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  padding: 7px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  height: 100vh;
  background-color: var(--blue);

  z-index: 10;
  transition: 200ms ease-in-out;
}

.side-menu.hidden {
  left: -360px;
}

.format {
  display: flex;
  flex-direction: column;
  margin-left: 150px;

  color: #fff;
}

.side-menu h3 {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  padding: 20px 0px 6px 0px;
}

.side-menu .format a {
  font-size: 13px;
  text-decoration: none;
  color: #fff;
}

#search {
  background: none;
  border: 1px solid #fff;
  width: 150px;
  margin-top: 20px;
  padding: 7px;
}

#search::placeholder {
  color: #fff;
}

.search-button {
  position: relative;
}

.icon {
  background: transparent url(../assets/lupa.png) no-repeat right;

  border: none;
  outline: none;
  cursor: pointer;

  width: 20px;
  height: 25px;

  position: absolute;
  top: 24px;
  right: 65px;
}

.close-menu {
  background: var(--blue) url(../assets/close.png) no-repeat;
  width: 25px;
  height: 25px;

  border: none;
  outline: none;
  cursor: pointer;

  position: absolute;
  right: 0;
  top: 10px;
}

/* Titles #################*/
h2 {
  font-family: "Roboto Slab", serif;
  color: var(--dark-blue);
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}

/* Nav #################*/
.nav-footer {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--dark-blue);

  text-transform: uppercase;
  font-size: 12px;
}

.nav-footer a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

.nav-footer a::after {
  content: "/";
  margin-left: 15px;
}

.nav-footer a:last-child::after {
  content: "";
}

/* Footer #################*/
footer {
  width: 100%;
  height: 40px;

  text-align: center;
}

footer p {
  color: #464646;
  padding: 10px;
}

/*Responsive ################### */
@media (max-width: 549px) {
  .float-news {
    display: none;
  }
  .nav-footer a {
    margin: 1px;
  }
  .nav-footer a::after {
    margin-left: 3px;
  }
}

@media (max-width: 424px) {
  #select {
    display: none;
  }
}
