/* Photo #################*/

.section-photo {
  background-image: url(../assets/principal-photo.jpg);
  width: 100%;
  height: 427px;
  max-height: 500px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.section-float {
  background: rgba(0, 0, 0, 0.741);
  width: 290px;
  height: 270px;
  position: absolute;
  left: 10%;
  top: 46%;
  color: white;
  font-size: 15px;
  padding: 30px;
}

.section-float h1 {
  text-transform: uppercase;
  padding-bottom: 25px;
  font-size: 28px;
}

.arrow-prev,
.arrow-next {
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  width: 20px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrow-prev {
  background-image: url(../assets/white-arrow-prev.png);
}

.arrow-next {
  background-image: url(../assets/white-arrow-next.png);
}

.white-arrows {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Main #################*/

.main-home {
  max-width: 940px;
  margin: 0 auto;
}

/* News #################*/

.float-news {
  width: 90px;
  height: 90px;
  text-align: center;
  background: var(--dark-blue);
  color: #fff;
  right: 0;
  margin-top: 42px;
  position: fixed;
  border: none;
  outline: none;
  cursor: pointer;
}

.close-news {
  background: var(--dark-blue) url(../assets/close.png) no-repeat center;
  height: 25px;
  width: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -25px;
}

.layer-active {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.news-open {
  position: fixed;
  right: 0;
  top: 10%;
  height: 630px;
  max-height: 95vh;
  width: 220px;
  z-index: 10;
}

.news-hidden {
  right: -220px;
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
}

.texts-news {
  background-color: #fff;
  padding: 0px 15px;
  color: #464646;
}

.ship-photo {
  margin-top: 15px;
}

.info h2 {
  font-size: 13px;
  text-align: left;
  margin-top: 10px;
}

.info p {
  font-size: 10px;
  text-align: left;
  margin: 8px 0px;
}

.section-submit {
  background-color: #eeeeee;
  width: 100%;
  height: 160px;
}

.sec-submit {
  padding: 15px;
}

.sec-submit h4 {
  font-size: 13px;
}

#email-float {
  padding: 3px;
  border: 2px solid #eeeeee;
  margin: 14px 0px 8px 0px;
}

.button-more,
.submit-email {
  border: 1.5px solid var(--light-blue);
  color: var(--light-blue);
  border-radius: 3px;
  cursor: pointer;
}

.button-more {
  width: 150px;
  margin: 0px 16px 12px 16px;
  padding: 6px;
  text-align: center;
  background: none;
}

.submit-email {
  width: 80px;
  padding: 6px;
}

/* Photo2 #################*/

.section-photo2 {
  background-image: url(../assets/ship.jpg);
  background-size: cover;
  background-position: center center;
  max-width: 940px;
  width: 100%;
  height: 340px;
}

/* Projects #################*/

.projects {
  font-size: 15px;
  color: #464646;
  text-align: center;
  margin-top: 90px;
}

.boxes-projects {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.box-project {
  width: 300px;
  height: 250px;
  border: 1px solid;
}

.box-title {
  height: 60px;
  color: #5c8aaf;
  background-color: #c9daea;
  padding-top: 15px;
}

.number {
  color: var(--dark-blue);
  font-size: 60px;
}

.content-box {
  padding: 0px 20px 15px 15px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex h4 {
  margin-right: 10px;
}

.content-p {
  margin-bottom: 12px;
}

.box-project h5,
.box-project p {
  text-align: left;
}

.button-projects {
  border: 1px solid var(--dark-blue);
  background: none;
  padding: 8px;
  width: 170px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

.button-projects:hover {
  background-color: var(--dark-blue);
  color: #fff;
  transition: 0.6s;
}

.projects a {
  text-decoration: none;
  cursor: pointer;
  color: var(--dark-blue);
}

/* Partners #################*/

.section-partners {
  background: #eeeeee;
  height: 330px;
  width: 100%;
  padding: 30px;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  min-width: 300px;
  margin: 40px auto;
}

.partners .carousel-item {
  width: 150px;
  margin: 0 auto;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  width: 20px;
  height: 70px;
  padding: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 35px;
  opacity: 1;
}

.carousel .control-next.control-arrow:before,
.carousel .control-prev.control-arrow:before {
  border: 0px;
}

.carousel.carousel-slider .control-arrow.control-prev {
  background: transparent url(../assets/blue-arrow-prev.png) no-repeat;
}

.carousel.carousel-slider .control-arrow.control-next {
  background: transparent url(../assets/blue-arrow-next.png) no-repeat;
}

/* Responsive #################*/

@media (max-width: 999px) {
  .boxes-projects {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 685px) {
  .boxes-projects {
    grid-template-columns: auto;
  }
}

@media (max-width: 549px) {
  .float-news {
    display: none;
  }
}
